<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSHop</title>

    
</head>
<body>


    <h1>HOLA MUNDO  </h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td  th:text="${cliente.nombre}"></td>
                <td  th:text="${cliente.apellidos}"></td>
                <td  th:text="${cliente.Correo}"></td>
                <td  th:text="${cliente.telefono}"></td>
               
            </tr>
        </tbody>

    </table>
   

    

    
</body>
</html>